<% provide(:title, "トップページ") %>
<section class="main-img">
  <h1>心理資格を持つカウンセラーに気軽に相談できるオンラインカウンセリングサービス</h1>
  <%= link_to "カウンセリングを始める" ,"#" %>
</section>
<section class="main-counselor-serch-area">
    <h1>日本中のカウンセラーから自分に合ったカウンセラーを選べます</h1>
  <div class="counselor-list inner">
    <ul>
      <li>
        <%= link_to("#") do%>
          <div class="counselor-info">
            <%= image_tag("yamada.jpg") %>
            <p>
              <span class="name">山田太郎</span>
              <span class="license">臨床心理士</span>
            </p>
          </div>
          <div class="counselor-introduction">
            <p>誠心誠意頑張ります。</p>
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to("#") do%>
          <div class="counselor-info">
            <%= image_tag("yamada.jpg") %>
            <p>
              <span class="name">山田太郎</span>
              <span class="license">臨床心理士</span>
            </p>
          </div>
          <div class="counselor-introduction">
            <p>誠心誠意頑張ります。</p>
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to("#") do%>
          <div class="counselor-info">
            <%= image_tag("yamada.jpg") %>
            <p>
              <span class="name">山田太郎</span>
              <span class="license">臨床心理士</span>
            </p>
          </div>
          <div class="counselor-introduction">
            <p>誠心誠意頑張ります。</p>
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to("#") do%>
          <div class="counselor-info">
            <%= image_tag("yamada.jpg") %>
            <p>
              <span class="name">山田太郎</span>
              <span class="license">臨床心理士</span>
            </p>
          </div>
          <div class="counselor-introduction">
            <p>誠心誠意頑張ります。</p>
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to("#") do%>
          <div class="counselor-info">
            <%= image_tag("yamada.jpg") %>
            <p>
              <span class="name">山田太郎</span>
              <span class="license">臨床心理士</span>
            </p>
          </div>
          <div class="counselor-introduction">
            <p>誠心誠意頑張ります。</p>
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to("#") do%>
          <div class="counselor-info">
            <%= image_tag("yamada.jpg") %>
            <p>
              <span class="name">山田太郎</span>
              <span class="license">臨床心理士</span>
            </p>
          </div>
          <div class="counselor-introduction">
            <p>誠心誠意頑張ります。</p>
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to("#") do%>
          <div class="counselor-info">
            <%= image_tag("yamada.jpg") %>
            <p>
              <span class="name">山田太郎</span>
              <span class="license">臨床心理士</span>
            </p>
          </div>
          <div class="counselor-introduction">
            <p>誠心誠意頑張ります。</p>
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to("#") do%>
          <div class="counselor-info">
            <%= image_tag("yamada.jpg") %>
            <p>
              <span class="name">山田太郎</span>
              <span class="license">臨床心理士</span>
            </p>
          </div>
          <div class="counselor-introduction">
            <p>誠心誠意頑張ります。</p>
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to("#") do%>
          <div class="counselor-info">
            <%= image_tag("yamada.jpg") %>
            <p>
              <span class="name">山田太郎</span>
              <span class="license">臨床心理士</span>
            </p>
          </div>
          <div class="counselor-introduction">
            <p>誠心誠意頑張ります。</p>
          </div>
        <% end %>
      </li>
    </ul>
    <%= link_to "カウンセラーを探す", "#", class: "counselor-serch-btn" %>
  </div>
</section>
<section class="main-client-question-area">
  <div class="inner">
    <h1>よくある質問</h1>
    <ul>
      <li><%= link_to "料金体系について", "#" %></li>
      <li><%= link_to "料金体系について", "#" %></li>
      <li><%= link_to "料金体系について", "#" %></li>
      <li><%= link_to "料金体系について", "#" %></li>
      <li><%= link_to "料金体系について", "#" %></li>
      <li><%= link_to "料金体系について", "#" %></li>
    </ul>
  </div>
  <%= link_to "もっと詳しく" , "#" , class: "question-btn"%>
</section>
<section class="main-couselor-gide-area">
<h1 class="gide-heading">カウンセラーの方へ</h1>
<p>事務所を持たずに場所や時間にとらわれず自由な働き方を実現できます</p>
  <div class="inner">
    <h1 class="gide-heading">カウンセラー登録をして働く方法</h1>
    <ol>
      <li>
        <h1>First Step</h1>
        <h2>カウンセラーアカウント作成</h2>
        <%= image_tag("input.jpg")%>
        <p>氏名や住所など基本情報及びカウンセラー免許、運転免許証を登録してもらいます</p>
      </li>
      <li>
        <h1>Secound Step</h1>
        <h2>審査</h2>
        <%= image_tag("examination.jpg")%>
        <p>カウンセラー免許証と運転免許証を照らし合わせ審査を行います</p>
      </li>
      <li>
        <h1>Thired Step</h1>
        <h2>登録完了</h2>
        <%= image_tag("pass.jpg")%>
        <p>審査を通過後すぐに予約の受付が可能となります</p>
      </li>
    </ol>
  </div>
  <%= link_to "カウンセラー登録", "#", class: "couselor-singnup-btn" %>
</section>
<section class="main-counselor-question-area">
  <div class="inner">
    <h1>よくある質問</h1>
    <ul>
      <li><%= link_to "料金体系について", "#" %></li>
      <li><%= link_to "料金体系について", "#" %></li>
      <li><%= link_to "料金体系について", "#" %></li>
      <li><%= link_to "料金体系について", "#" %></li>
      <li><%= link_to "料金体系について", "#" %></li>
      <li><%= link_to "料金体系について", "#" %></li>
    </ul>
  </div>
  <%= link_to "もっと詳しく" , "#" , class: "question-btn"%>
</section>
