<%= provide(:title, "ログイン") %>
<main class="login-container input-inner">
  <h1>ログイン</h1>
  <p class="signup-guide">新規登録がまだの方は<%= link_to "新規登録", client_signup_path, class: "signup-btn" %>の方をお願いします</p>
  <%= form_with scope: :session, url: login_path, local: true do |f| %>
    <table>
      <tr>
        <th><%= f.label :email, "メールアドレス" %></th>
        <td><%= f.email_field :email %></td>
      </tr>
      <tr>
        <th><%= f.label :password, "パスワード" %></th>
        <td><%= f.password_field :password %></td>
      </tr>
      <tr>
        <%= f.label :remember_me, id: "checkbox" do %>
          <th><p>ログイン状態</p></th>
          <td id="checkbox-content"><%= f.check_box :remember_me %>ログインしたままにする</td>
        <% end %>
      </tr>
    </table>
    <%= f.submit "ログイン", class: "login-btn btn" %>
  <% end %>
</main>
