<% provide(:title, "設定") %>
<div class="inner client-container">
  <aside class="side-nav">
    <nav>
      <ul>
        <li class="first-nav">
          <%= link_to client_path do %>
            <i class="fas fa-user-circle"></i>
            マイページ
          <% end %>
        </li>
        <li>
          <%= link_to "#" do%>
            <i class="fas fa-calendar-alt"></i>
            ダイアリー
          <% end %>
        </li>
        <li>
          <%= link_to "#" do%>
            <i class="far fa-sticky-note"></i>
            ノート
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fas fa-history"></i>
            利用履歴
          <% end %>
        </li>
        <li>
          <%= link_to client_edit_path do %>
            <i class="fas fa-cog"></i>
            設定
          <% end %>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="edit-container">
    <%= render "shared/error_messages" %>
    <section class="edit-form-area">
      <%= form_with model: @client, local: true do |f| %>
        <table>
          <tr class="edit-headline">
            <td colspan="2"><h1>設定を変更する</h1></td>
          </tr>
          <tr>
            <th><%= f.label :name, "名前" %></th>
            <td><%= f.text_field :name, class: "input-style" %></td>
          </tr>
          <tr>
            <th><%= f.label :email, "メールアドレス" %></th>
            <td><%= f.email_field :email, class: "input-style" %></td>
          </tr>
          <tr>
            <th><%= f.label :age, "年代" %></th>
            <td><%= f.select :age, {"10歳代": 1, "20歳代": 2, "30歳代": 3, "40歳代": 4,
              "50歳代": 5, "60歳代": 6, "それ以上": 7} %></td>
            </tr>
            <tr>
              <th><%= f.label :gender, "性別" %></th>
              <td>
                <%= f.radio_button :gender, "male", class: "radio-btn" %>
                <%= f.label :gender, "男性" %>
                <%= f.radio_button :gender, "female", class: "radio-btn" %>
                <%= f.label :gender, "女性" %>
                <%= f.radio_button :gender, "else", class: "radio-btn" %>
                <%= f.label :gender, "その他" %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :password, "パスワード" %></th>
              <td><%= f.password_field :password, class: "input-style" %></td>
            </tr>
            <tr>
              <th><%= f.label :password_confirmation, "パスワード確認" %></th>
              <td><%= f.password_field :password_confirmation, class: "input-style" %></td>
            </tr>
            <tr>
              <th><%= f.label :special_notes, "特筆事項" %></th>
              <td><%= f.text_field :special_notes, class: "input-sentence-style" %></td>
            </tr>
            <tr class="btn-area">
              <td colspan="2"><%= f.submit "設定を更新する", id: "block-btn" %></td>
            </tr>
          </table>
        <% end %>
      </section>
      <section class="point-link-area">
        <table>
          <tr class="edit-headline">
            <td colspan="2"><h1>ポイント</h1></td>
          </tr>
          <tr class="total-point-area">
            <th>合計ポイント</th>
            <td>100pt</td>
          </tr>
          <tr class="btn-area">
            <td colspan="2"><%= link_to "ポイント詳細を確認", "#", id: "block-btn" %></td>
          </tr>
        </table>
      </section>
      <section class="else-link-area">
        <table>
          <tr class="edit-headline">
            <td colspan="2"><h1>その他</h1></td>
          </tr>
          <tr class="btn-area">
            <td colspan="2"><%= link_to "Lineで通知を受け取る", "#", id: "block-btn" %></td>
          </tr>
          <tr class="btn-area">
            <td colspan="2"><%= link_to "メールアドレス変更", client_edit_path(current_client), id: "block-btn" %></td>
          </tr>
          <tr class="btn-area">
            <td colspan="2"><%= link_to "退会受付画面", clients_destroy_path(@client), method: :delete,
                                  data: { confirm: "本当に退会しますか？" }, id: "block-btn" %></td>
          </tr>
        </table>
      </section>
  </main>
</div>
