<main class="client-signup-container input-inner">
  <%= render "shared/error_messages" %>
  <%= form_with model: @client, local: true do |f| %>
    <h1>新規登録</h1>
    <table>
      <tr>
        <th><%= f.label :name, "名前" %></th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th><%= f.label :email, "メールアドレス" %></th>
        <td><%= f.email_field :email %></td>
      </tr>
      <tr>
        <th><%= f.label :password, "パスワード" %></th>
        <td><%= f.password_field :password %></td>
      </tr>
      <tr>
        <th><%= f.label :password_confirmation, "パスワード確認" %></th>
        <td><%= f.password_field :password_confirmation%></td>
      </tr>
    </table>
    <%= f.submit "新規登録", class: "btn" %>
  <% end %>
</main>
