<p><%= @client.name %></p>

<p>
  <!-- COCOROに会員登録していただきありがとうございます。 -->

</p>

<!-- <p>下記のリンクをクリックしていただくと会員登録が完了いたします。</p> -->

<%= link_to "click", edit_account_activation_url(@client.activation_token,
                                                    email: @client.email) %>
