/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
   margin: 0;
 }
 a{
   text-decoration: none;
 }
 ul{
   list-style: none;
   padding: 0;
 }
 ol{
   list-style: none;
 }
 .inner{
   width: 70%;
   margin: 0 auto;
 }
header{
  height: 60px;
  border-bottom: 1px solid #D3D3D3;
  .header-inner{
    display: flex;
    justify-content: space-between;
  }
  h1{
    width: 50%;
    margin: 0;
    a{
      .logo-icon{
        color: #75A9FF;
        font-weight: normal;
      }
      line-height: 80px;
      font-size: 30px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  nav{
    width: 50%;
    ul{
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      li{
        margin: 0;
        a{
          .nav-icon{
            font-size: 18px;
            color: gray;
          }
          line-height: 80px;
          font-size: 16px;
          color: gray;
          opacity: 0.8;
          &:hover{
            color: #75A9FF;
          }
        }
      }
    }
  }
}
footer{
  padding: 50px 0 100px 0;
  background-color: #75A9FF;
  color: white;
  .footer-inner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    nav{
      height: 255px;
      margin-top: 30px;
      p{
        font-size: 25px;
      }
      a{
        display: inline-block;
        font-size: 20px;
        margin: 10px 0;
        color: white;
        border-bottom: 2px solid #75A9FF;
        &:hover{
          border-bottom: 2px solid white;
        }
      }
    }
  }
}
