// Place all the styles related to the Client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-color: #75A9FF;
.input-inner{
  width: 60%;
  margin: 0 auto;
}
.client-signup-container, .login-container{
  margin-top: 50px;
  margin-bottom: 150px;
  h1{
    color: $main-color;
    font-weight: normal;
  }
  table{
    width: 100%;
    height: 400px;
  }
  table , td, th {
	border: 1px solid #D3D3D3;
	border-collapse: collapse;
  }
  td, th{
    color: white;
    font-size: 18px;
    font-weight: normal;
  	padding: 3px;
  	height: 40px;
  }
  .edit-table-headline{
    text-align: center;
    font-size: 20px;
    background-color: $main-color;
  }
  th{
    width: 30%;
  }
  td{
    width: 70%;
  }
  th {
  	background: $main-color;
  }
  input{
    border: 1px solid #AAAAAA;
    width: 60%;
    height: 50%;
    margin-left: 20px;
    border-radius: 5px
  }
  .btn{
    display: block;
    font-size: 18px;
    margin: 50px auto 0 auto;
    height: 60px;
    width: 300px;
    color: white;
    border: 1px solid #FA8F04;
    background-color: #FA8F04;
    &:hover{
      cursor: pointer;
      background-color: #FAA804;
    }
  }
}
// editレイアウト
.side-nav{
  .first-nav{
    margin: 0;
  }
  li{
    margin-top: 20px;
    a, i{
      color: rgba(0, 0, 0, 0.5);
      &:hover{
        color: $main-color;
      }
    }
    a{
      font-size: 17px;
    }
    i{
      font-size: 25px;
      margin-right: 10px;
    }
  }
}
.client-container{
  display: flex;
  padding: 80px 0 200px 0;
  main{
    width: 80%;
    color: rgba(0, 0, 0, 0.6);
    table{
      border: 1px solid #D3D3D3;
      border-collapse: collapse;
      width: 100%;
      .btn-area{
        height: 200px;
        text-align: center;
        #block-btn{
          border: 0;
          font-size: 18px;
          background-color: #FA8F04;
          width: 80%;
          height: 35%;
          color: white;
          border-radius: 5px;
          &:hover{
            cursor: pointer;
            background-color: #FAA804;
          }
        }
      }
    }
    .edit-headline{
      height: 40px;
      background-color: #EEEEEE;
      h1{
        margin: 0;
        text-align: center;
        font-size: 20px;
      }
    }
  }
  .side-nav{
    width: 20%;
  }
}
.edit-form-area{
  table{
    height: 900px;
    th{
      width: 30%;
      border-right: none;
      border-bottom: 1px dotted #D3D3D3;
    }
    td{
      border-bottom: 1px dotted #D3D3D3;
      width: 70%;
    }
    .input-style{
      font-size: 16px;
      width: 50%;
      height: 50%;
      padding-left: 5px;
      border: 1px solid #CCCCCC;
      border-radius: 2px;
      background: -webkit-linear-gradient(top, #f5f5f5, #fff);
    }
    .input-sentence-style{
      font-size: 16px;
      width: 70%;
      height: 100px;
      padding-left: 5px;
      border: 1px solid #CCCCCC;
      border-radius: 2px;
      background: -webkit-linear-gradient(top, #f5f5f5, #fff);
    }
    select{
      width: 30%;
      height: 40%;
      font-size: 17px;
    }
    .radio-btn{
      width: 15px;
      height: 15px;
      margin: 0;
    }
  }
}
.point-link-area{
  table{
    height: 400px;
    margin-top: 50px;
    #block-btn{
      display:inline-block;
      line-height: 69px;
    }
    .total-point-area{
      th, td{
        font-size: 25px;
      }
      th{
        text-align: left;
        padding-left: 50px;
      }
      td{
        text-align: right;
        padding-right: 50px;
        color: red;
      }
    }
  }
}
.else-link-area{
  margin-top: 50px;
  #block-btn{
    display: inline-block;
    line-height: 69px;
  }
}
