// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#session_remember_me{
  width: 20px;
  height: 20px;
  margin-bottom: 0;
}
#checkbox-content{
  color: black;
}
.signup-guide{
  // text-align: center;
  font-size: 18px;
  a{
    color: #4689FF;
  }
}
