// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-background-color: rgba(240, 248, 255, 0.8);
$main-font-color: #75A9FF;
$main-hover-colr: #BAD3FF;

.main-counselor-serch-area .counselor-list ul,
.main-client-question-area ul,
.main-counselor-question-area ul{
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;
}
.main-img a,.main-counselor-serch-area .counselor-serch-btn,
.main-client-question-area .question-btn,
.main-couselor-gide-area .couselor-singnup-btn,
.main-counselor-question-area .question-btn, .btn{
  font-size: 18px;
  background-color: #FA8F04;
  color: white;
  border-radius: 5px;
  padding: 15px 80px;
  &:hover{
    background-color: #FAA804;
  }
}
.main-img{
  height: 400px;
  background-image: url("top-img.jpg");
	background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
    color: white;
  }
}
.main-img a{
  margin-top: 20px;
}
.main-counselor-serch-area .counselor-serch-btn{
  display: inline-block;
  margin: 50px 0;
}
.main-client-question-area .question-btn,
.main-counselor-question-area .question-btn{
  padding: 15px 100px;
  margin-top: 30px;
  display: inline-block;
}
.main-counselor-serch-area{
  text-align: center;
  background-color: $main-background-color;
  padding: 50px 0 100px 0;
  h1{
    text-align: center;
    margin: 0;
    padding-top: 50px;
    opacity: 0.8;
  }
  .counselor-list{
    ul{
      height: 900px;
      li{
        border: 2px solid $main-font-color;
        width: 30%;
        a{
          display: inline-block;
          width: 100%;
          color: black;
        }
        img{
          width: 100px;
          height: 100px;
        }
        p{
          font-size: 18px;
        }
      }
    }
  }
  .counselor-info{
    display: flex;
    p{
      width: 100%;
      .name{
        font-weight: bold;
        display: block;
        font-size: 22px;
        margin-bottom: 5px;
      }
      .license{
        font-size: 16px;
      }
    }
  }
  .counselor-introduction{
    width: 100%;
    border-top: 2px dotted $main-font-color;
    padding: 15px 0;
  }
}
.main-counselor-question-area,.main-client-question-area{
  text-align: center;
  padding: 20px 0 150px 0;
  h1{
    text-align: center;
    margin-top: 50px;
    opacity: 0.8;
  }
  ul{
    height: 300px;
    margin-bottom: 40px;
    li{
      text-align: center;
      a{
        border: 2px solid $main-font-color;
        color: $main-font-color;
        font-size: 20px;
        padding: 20px 100px;
        border-radius: 15px;
        &:hover{
          color: $main-hover-colr;
          border-color: $main-hover-colr;
        }
      }
    }
  }
}
.main-couselor-gide-area{
  text-align: center;
  background-color: $main-background-color;
  padding: 20px 0 100px 0;
  ol{
    display: flex;
    justify-content: space-between;
  }
  li{
    width: 30%;
    h1, h2{
      color: $main-font-color;
    }
    p{
      opacity: 0.8;
      font-size: 18px;
    }
  }
  img{
    width: 100%;
    height: 200px;
  }
  .gide-heading{
    padding-top: 60px;
    opacity: 0.8;
  }
  .couselor-singnup-btn{
    display: inline-block;
    margin-top: 50px;
  }
}
