<footer>
  <div class="inner footer-inner">
    <nav>
      <p>カウンセラーを探す</p>
      <ul>
        <li><%= link_to "人気順で探す", "#" %></li>
        <li><%= link_to "経歴順で探す", "#" %></li>
        <li><%= link_to "相談内容から探す", "#" %></li>
      </ul>
    </nav>
    <nav>
      <p>お問い合わせ</p>
      <ul>
        <li><%= link_to "よくある質問", "#" %></li>
        <li><%= link_to "お問い合わせ", contact_path %></li>
      </ul>
    </nav>
    <nav>
      <p>Cocoとは</p>
      <ul>
        <li><%= link_to "会社概要", "#" %></li>
        <li><%= link_to "サービスについて", about_path %></li>
      </ul>
    </nav>
  </div>
</footer>
