<header>
  <div class="inner header-inner">
    <h1>
      <%= link_to "COCORO", root_path %>
    </h1>
    <nav>
      <ul>
        <li>
          <%= link_to "#" do%>
            カウンセラーを探す
            <i class="fas fa-caret-right nav-icon"></i>
          <% end %>
        </li>
        <li>
          <%= link_to about_path do%>
            Cocoとは
            <i class="fas fa-caret-right nav-icon"></i>
          <% end %>
        </li>
        <% if logged_in? %>
          <li>
            <%= link_to current_client do%>
              Myアカウント
              <i class="fas fa-caret-right nav-icon"></i>
            <% end %>
          </li>
          <li>
            <%= link_to logout_path, method: :delete do %>
              ログアウト
              <i class="fas fa-caret-right nav-icon"></i>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to client_signup_path do %>
              新規登録
              <i class="fas fa-caret-right nav-icon"></i>
            <% end %>
          </li>
          <li>
            <%= link_to login_path do %>
              ログイン
              <i class="fas fa-caret-right nav-icon"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
